<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form role="form" method="post">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="email">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" id="password">
              </div>
              <input class="btn btn-success btn-block" id="submit" type="submit" value="Submit">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
            <a href="/signup">Not a member? Sign up here.</a>
          </div>
        </div>
        
      </div>
    </div>

  </body>

  <script>
    $("#myModal").modal();
  </script>
</html>
